section, article {
	height: 750px; 
	width: 1000px;
	margin: auto;
}

.title-screen-sec {
	background-image: url("https://hdqwalls.com/wallpapers/game-of-thrones-all-cast-4k.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.title-screen-art {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.house-img, .char-star, .char-lan, .char-gre, .char-tar{
	height: 200px;
	width: 200px;
	object-fit: scale-down;
}

ul {
	list-style: none;
	padding: 0;
}

.hidden {
	display: none;
}

